# Dependencias
node_modules/
.pnpm-store/
pnpm-debug.log
pnpm-lock.yaml

# Archivos de construcción
dist/
build/
out/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de caché
.cache/
.pnpm-store/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de registro
logs/
*.log

# Archivos de cobertura
coverage/

# Archivos temporales
tmp/
temp/

# Archivos de IDE y editores
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Otros
.serverless/
.webpack/
.next/

# Específico de pnpm
.pnpm-debug.log

